{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>500</title>
</head>
<body>
    <div class="container">
        <h1>500 - Internal Server Error</h1>
        <p>Sorry, something went wrong on our end. Please try again later.</p>
        <a href="{% url 'index' %}">Go back to the homepage</a>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>